<h1> Gojimo Challenge </h1>

<h2> Qualifications: </h2>
<% @qualifications.each do |qualification| %>
  <form action='/subjects' method='post'>
    <input type='hidden' name='qualification' value='<%=qualification%>' />
    <button type="submit"> <%= qualification %></button> <br>
  </form>
<% end %>

<form action='/refresh' method='post'>
  <button type="submit"> Refresh Information </button>
</form>
