<h2><%= @qualification %></h2>
<h3> <%= @country %> </h3>

<h3> Subjects: </h3>
<% if @subjects.empty? %>
  No subjects available for this qualification
<% else %>
  <% @subjects.each do |subject, colour| %>
    <div style='background-color: <%=colour %>'>
      <%= subject %> <br>
    </div>
  <% end %>
<% end %>


<form action='/qualifications'>
  <button type='submit'> Return </button>
</form>
